body{
  background-color: rgb(207, 206, 233);
}

#nav-btn{
  background:rgb(47, 55, 77);
  padding: 15px;
}

#logo{
    color: rgb(255, 255, 255);
    font-size: 200%;
}
.active{
  font-size: 135%;
}

.element{
  font-size: 120%;
}

.whiteText{
  color: rgb(255, 255, 255);
}
